# Gradle/Java files
/out/
.gradle
/build/
*.iml

minesweeper-lowest-times.properties

# macOS files
*.DS_Store

# IntelliJ files
/.idea/

# Raspberry Pi files
/bin/
.project
org.eclipse.buildship.core.prefs
.classpath